body {
  background-color: mistyrose;
  margin: 0;
  font-family: monospace;
  overflow: hidden;
}

#textAndImage{
  text-align: center;
}

#text {
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 3px 0px rgba(0,0,0,0.2);
}

.container > div {
  overflow: auto;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  color: ghostwhite;
  background: lightslategray;
}

h1 {
  margin: 0;
  line-height: 80px;
  margin-left: 30px;
  font-size: 40px;
}

form {
  position: absolute;
  right: 30px;
  top: 20px;
}

input {
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

div.container {
  height: calc(100vh - 80px);
  margin-top: 80px;
  width: 100vw;
  background: white;
}

.profileDetails {
  border-right: 1px dashed black;
}

.profileDetails img {
  width: 40%;
  min-width: 200px;
  margin: 0px auto;
  /*border-radius: 75px;*/
}

.bubbleChart {
  border-left: 1px dashed black;
}

.profileDetails, .bubbleChart {
  position: relative;
  padding: 30px 30px;
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
